### KEYWORD DATABASE ��� TASCA ###
### Customize synonyms for keywords###

### Note: Check for repeated keywords! Keywords are CASE-INSENSITIVE. Don't change the command names, only change the keywords ###

########################################################################
# Folder settings: 
########################################################################

folder1 = Home
folder2 = Work
folder3 = Personal
folder4 = NUS
folder5 = Others

default = folder1 


########################################################################
# Main Command Keywords:
########################################################################

add = add,new,create,a,n
delete = delete,remove,d,cancel
modify = modify,change
mark = check,mark
clearCompleted = cc,clrc,markC  		
clear = clear,deleteAll,rAll,clr
search = search,find
now = next,now,up
today = today,tod
tomorrow = tomr,tomorrow,tmr
displayAll = all,dAll,displayAll,showAll
displayFloat = float,daf
display = display                       
week = week
month = month
undo = undo,back
redo = redo,forward
export = export,exp
import = import,impo
quit = quit,exit,close

########################################################################
# Parameter Keywords:
########################################################################

startTime = on,during,start,time
endTime = end,by
reminderTime = remind,notify,alert
priority = importance,priority,pri,prio
location = at,location,loc
folder = folder,fol,group
taskID = id


