### KEYWORD DATABASE ��� TASCA ###
### Customize synonyms for keywords###

### Note: Check for repeated keywords! Keywords are CASE-INSENSITIVE. Don't change the command names, only change the keywords ###


########################################################################
# Main Command Keywords:
########################################################################

add = add,new,create,a,n
delete = delete,remove,d,cancel
modify = modify,change
mark = check,mark
clearCompleted = cc,clrc,markC  		
clear = clear,deleteAll,rAll,clr
search = search,find
today = today,now,tod
tomorrow = tomr,tomorrow,tmr
displayAll = all,dAll,displayAll,showAll
display = display                       
week = week
undo = undo,back
redo = redo,forward
quit = quit,exit,close

########################################################################
# Parameter Keywords:
########################################################################

startTime = on,during,start,time
endTime = end,by
reminderTime = remind,notify,alert
priority = importance,priority,pri,prio
location = at,location,loc
folder = folder
taskID = id
